@import "global";
.blog_area{
    a{
        color: $font_1 !important;
        text-decoration: none;
        transition: .4s;
        &:hover, :hover{
            background: -webkit-linear-gradient( 131deg, $theme-color 0%, $theme-color 99%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-decoration: none;
            transition: .4s;
        }
    }
}
