<!--Form Sign-Up Start-->
<div class="card">
  <div class="card-body py-5 px-md-5">
    <form>
       <!-- Username input -->
      <div class="form-outline mb-4">
        <input type="text" placeholder="Username" class="form-control"/>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" placeholder="Password" class="form-control"/>
      </div>

      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="form-outline">
            <input type="text" placeholder="First name" class="form-control"/>
          </div>
        </div>
        <div class="col-md-6 mb-4">
          <div class="form-outline">
            <input type="text" placeholder="Last name" class="form-control"/>
          </div>
        </div>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" placeholder="Email address" class="form-control"/>
      </div>

      <!-- Phone input -->
      <div class="form-outline mb-4">
        <input type="text" placeholder="Phone number" class="form-control"/>
      </div>

      <!-- Checkbox -->
      <div class="form-check d-flex align-content-center justify-content-center mb-4 checkbox">
        <label class="primary-checkbox mr-2" for="subscribe">
          <input class="form-check-input me-2 d-none" type="checkbox" value="" id="subscribe" checked/>
          <label class="form-check-label" for="subscribe"></label>
        </label>
        <label for="subscribe">Subscribe to our newsletter</label>
      </div>

      <p class="text-center">Don't have an account? <a routerLink="../sign-in">Register here</a></p>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Sign up
      </button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
    </form>
  </div>
</div>
<!--Form Sign-Up End-->
